/*

* Override Pages default styles or create your own styles here

*/

.own-readonly {
	background: white !important;
}

.input-group-btn:last-child>.btn {
	margin-left: 0 !important;
}

.has-error label {
  color: #f55753 !important;
}

.login-wrapper .bg-pic > img {
  height: auto !important;
  opacity: 1 !important;
}

.login-wrapper .bg-caption {
  width: 600px !important;
}

object { display: none; }   

.index_size{
    height: calc(100% - 70px);
    min-height: 0 !important;
    overflow: auto;
    padding-top: 60px;
    margin-bottom: 15px;
}   

.center_aligned > h3{
    display: inline-block !important;
}

.center_aligned{
    margin: auto;
    float: none;
    display: block;
    text-align: center;
}

.rounded_box{
    border: 1px solid #DDD;
    border-radius: 5px;
    text-align: center;
    padding: 0px;
}

.rounded_box > .pad{
    padding: 5px;
}

.margin_bottom_0px{
    margin-bottom: 0px;
}

.checkout_text{
    margin-right: 15px;
    margin-left: 15px;
}

.report_inputs{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    float: left;
    position: relative;
}

.select_box{
    width: 100%;
}

.cursor_pointer{
    cursor: pointer;
}

#nvd3_chart svg {
  height: 400px;
}

.report_form_inputs{
    height: 40px;
}

/* Negative = #D62728 */
.negative_hours{
    fill: rgb(214, 39, 40) !important; 
    stroke: rgb(214, 39, 40) !important;
}

/* Positive = #2CA044 */
.positive_hours{
    fill: rgb(44, 160, 44) !important;
    stroke: rgb(44, 160, 44) !important;
}