{% load staticfiles %}
<!-- START HEADER -->
<div class="header ">
<!-- START MOBILE CONTROLS -->
<!-- LEFT SIDE -->
<div class="pull-left full-height visible-sm visible-xs">
  <!-- START ACTION BAR -->
  <div class="sm-action-bar">
    <a href="#" class="btn-link toggle-sidebar" data-toggle="sidebar">
      <span class="icon-set menu-hambuger"></span>
    </a>
  </div>
  <!-- END ACTION BAR -->
</div>
<!-- RIGHT SIDE -->
<div class="pull-right full-height visible-sm visible-xs">
  <!-- START ACTION BAR -->
  <div class="sm-action-bar">
    <a href="#" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
      <span class="icon-set menu-hambuger-plus"></span>
    </a>
  </div>
  <!-- END ACTION BAR -->
</div>
<!-- END MOBILE CONTROLS -->
<div class=" pull-left sm-table">
  <div class="header-inner">
    <div class="brand inline">
      <a href="{% url 'core:home'%}">
        <img src="{% static 'assets/img/logo.png' %}" alt="logo" data-src="{% static 'assets/img/logo.png' %}" data-src-retina="{% static 'assets/img/logo_2x.png' %}" width="126" height="22">
      </a>
    </div>
  </div>
</div>
<div class=" pull-right">
  <!-- START User Info-->
  <div class="visible-lg visible-md m-t-10">
    <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
      <span id="username_tag">{{ user }}</span> 
    </div>
    <div class="dropdown pull-right">
      <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="thumbnail-wrapper d32 circular inline m-t-5">
        <img src="{% static 'assets/img/profiles/avatar.jpg' %}" alt="" data-src="{% static 'assets/img/profiles/avatar.jpg' %}" data-src-retina="{% static 'assets/img/profiles/avatar_small2x.jpg' %}" width="32" height="32">
    </span>
      </button>
      <ul class="dropdown-menu profile-dropdown" role="menu">
      {% if adm %}
        <li><a href="/admin/core/funcionario"><i class="fs-14 pg-bag"></i> Funcionários</a></li>
        <li><a href=""><i class="fs-14 glyphicon glyphicon-stats"></i>Relatórios - ADM</a></li>
      {% else %}
        <li><a href="{% url 'core:home'%}"><i class="fs-14 pg-clock"></i> Checkin</a></li>
      {% endif %}
      <li><a href=""><i class="fs-14 pg-charts"></i> Relatórios</a></li>
        <li class="bg-master-lighter">
          <a href="{% url 'core:logout'%}" class="clearfix">
            <i class="fa fa-power-off"></i>Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- END User Info-->
</div>
</div>
<!-- END HEADER -->