{% extends 'base.html' %}

{% block title %}Check {% endblock %}
{% load staticfiles %}
{% block body_class %}menu-behind{% endblock %}
{% block body_content %}
    <div class="page-container">
        {% include 'header_nav.html' %}
        <div class="page-content-wrapper index_size bg-white">
            <div class="container-fluid container-fixed-lg ">
                <h1>Checkin</h1>
                <hr>
                <div class="col-md-10">
                    <div class="col-md-6 center_aligned">
                        <h3 id="time_check" class="text-danger">{% if horas_faltando %}{{ horas_faltando.horas|stringformat:"02d" }}:{{ horas_faltando.minutos|stringformat:"02d" }}:{{ horas_faltando.segundos|stringformat:"02d" }}{% else %}xx:xx:xx{% endif %}</h3>
                    </div>
                    <div class="col-md-6 center_aligned">
                        <button id="check_button" class="btn {% if estado_usuario %}btn-danger{% else %}btn-success{% endif %} btn-cons">{% if estado_usuario %}Checkout{% else %}Checkin{% endif %}</button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12 rounded_box">
                        <div class="pad bg-primary-lighter"><p id="check_today" class="fs-14 margin_bottom_0px">{% if dia_atual %}{{ dia_atual }}{% else %}xx/xx/xxxx{% endif %}</p></div>
                        <div id="check_times" align="" class="pad bg-white">
                        {% for checks in turnos_do_dia %}
                            <p class='fs-14 margin_bottom_0px'> {{ checks.entrada|date:"H:i:s" }} - {{ checks.saida|date:"H:i:s" }} </p>
                        {% endfor %}
                        </div>
                        <div class="pad bg-complete-lighter">
                            <p id="check_total" class="fs-14 margin_bottom_0px">Total = {% if total_trabalhado %}{{ total_trabalhado.horas|stringformat:"02d" }}:{{ total_trabalhado.minutos|stringformat:"02d" }}:{{ total_trabalhado.segundos|stringformat:"02d" }}{% else %}00:00:00{% endif %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "footer_nav.html" %}
    </div>
{% endblock %}
{% block body_script %}
    <script src="{% static 'assets/js/notifications.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/datatables.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/index.js' %}" type="text/javascript"></script>
{% endblock %}